/Task1-Server/node_modules/
/Task2-IoT/packages/
/Task2-IoT/bin/
/Task2-IoT/obj/
/Task2-IoT/.vs/
/Task3-WebClient/node_modules/
/Task4-MobileClient/.gradle/
/Task4-MobileClient/.idea/
/Task4-MobileClient/gradle/
/Task4-MobileClient/gradlew.bat
/Task4-MobileClient/setupAvd.bat
/Task4-MobileClient/replay_pid15656.log
/Task4-MobileClient/replay_pid14160.log
/Task4-MobileClient/replay_pid3228.log
/Task4-MobileClient/hs_err_pid15656.log
/Task4-MobileClient/hs_err_pid14160.log
/Task4-MobileClient/hs_err_pid3228.log
/Task4-MobileClient/local.properties
/Task4-MobileClient/app/build/
/Task4-MobileClient/gradlew
/Task4-MobileClient/gradle.properties
/Task4-MobileClient/build.gradle.kts
/Task1-Server/backups/
.idea
