apzkr-pzpi-21-7-vysochyn-illia/Task1-Server/node_modules/
apzkr-pzpi-21-7-vysochyn-illia/Task2-IoT/packages/
apzkr-pzpi-21-7-vysochyn-illia/Task2-IoT/bin/
/apzkr-pzpi-21-7-vysochyn-illia/Task2-IoT/obj/
/apzkr-pzpi-21-7-vysochyn-illia/Task2-IoT/.vs/
/apzkr-pzpi-21-7-vysochyn-illia/Task3-WebClient/node_modules/
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/.gradle/
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/.idea/
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/gradle/
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/gradlew.bat
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/setupAvd.bat
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/replay_pid15656.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/replay_pid14160.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/replay_pid3228.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/hs_err_pid15656.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/hs_err_pid14160.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/hs_err_pid3228.log
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/local.properties
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/app/build/
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/gradlew
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/gradle.properties
/apzkr-pzpi-21-7-vysochyn-illia/Task4-MobileClient/build.gradle.kts
/apzkr-pzpi-21-7-vysochyn-illia/Task1-Server/backups/
.idea
